<div class="profile-container" *ngIf="user as profile">
  <div class="profile-header">
    <h2>{{ profile.name.firstname }} {{ profile.name.lastname }} Profilja</h2>
    <p>{{ profile.email }}</p>
  </div>

  @if (reservedWeddings.length > 0) {
    <h3>Függő esküvők:</h3>
    @for (wedding of reservedWeddings; track wedding.id) {
      <mat-card class="profile-info-card">
        <mat-card-header>
          <mat-card-title>{{ wedding.title }}</mat-card-title>
          <mat-card-subtitle>{{ wedding.location }} - {{ wedding.weddingDate | dateFormatter }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ wedding.description }}</p>
          <p><strong>Szolgáltatás szint:</strong> {{ wedding.serviceLevel }}</p>
          <p><strong>Státusz:</strong> {{ wedding.status }}</p>

          @if (wedding.status === 'Függő') {
            <mat-form-field appearance="fill">
              <mat-label>Szolgáltatás szint</mat-label>
              <mat-select [(value)]="wedding.serviceLevel" (selectionChange)="onServiceLevelChange(wedding, $event)">
                @for (level of serviceLevels; track level) {
                  <mat-option [value]="level">{{ level }}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <button mat-raised-button color="primary"
                    [disabled]="isBookingInProgress"
                    (click)="updateWeddingStatus(wedding.id, wedding.serviceLevel)">
              Lefoglalom
            </button>
          }

          <button mat-button [routerLink]="['/wedding', wedding.id]" class="profile-link">
            Részletek
          </button>
        </mat-card-content>
      </mat-card>
    }
  }

  @if (bookedWeddings.length > 0) {
    <h3>Lefoglalt esküvők:</h3>
    @for (wedding of bookedWeddings; track wedding.id) {
      <mat-card class="profile-info-card">
        <mat-card-header>
          <mat-card-title>{{ wedding.title }}</mat-card-title>
          <mat-card-subtitle>{{ wedding.location }} - {{ wedding.weddingDate | dateFormatter }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ wedding.description }}</p>
          <p><strong>Szolgáltatás szint:</strong> {{ wedding.serviceLevel }}</p>
          <p><strong>Státusz:</strong> {{ wedding.status }}</p>

          <button mat-button [routerLink]="['/wedding', wedding.id]" class="profile-link">
            Részletek
          </button>
        </mat-card-content>
      </mat-card>
    }
  }

  @if (reservedWeddings.length === 0 && bookedWeddings.length === 0) {
    <p>Nincsenek függő vagy lefoglalt esküvők.</p>
  }
</div>
